<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cars List" >
<!-- <listeners>
		<listener class-name="test.listeners"/>
	</listeners> -->
  <test  name="CarsList" ><!-- //parallel execution of classes -->
  
    <classes>
      <class name="com.cars.qa.testcases.HomepageTest">
      </class>
      <class name="com.cars.qa.testcases.SearchResultsPageTest"/>
		
      
    </classes>
  </test> <!-- Test -->
  
  </suite> <!-- Suite -->
